@mixin container {
  width: 320px;
  margin: 0 auto;
  @media #{$tablet-width} {
    width: 640px;
  }
  @media #{$desktop-width} {
    width: 960px;
  }
}

@mixin container-fluid {
  width: auto;
  @media #{$tablet-width} {
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
  }
}

@mixin corner {
  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 27px;
    background: url(../../img/corner-header.svg) center no-repeat;
    background-size: 100% 27px;
    z-index: 1;
    @media #{$tablet-width} {
      height: 68px;
      background-size: 100% 68px;
    }
  }
}

@mixin corner-triangle {
  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 27px;
    background: url(../../img/corner-header-tablet.svg) center no-repeat;
    background-size: 100% 27px;
    z-index: 1;
    @media #{$tablet-width} {
      height: 57px;
      background-size: 100% 57px;
    }
  }
}

@mixin corner-triangle-desktop {
  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 27px;
    background: url(../../img/corner-header-desktop.svg) center no-repeat;
    background-size: 100% 27px;
    z-index: 1;
    @media #{$tablet-width} {
      height: 57px;
      background-size: 100% 57px;
    }
  }
}

@mixin corner-blue {
  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 27px;
    background: url(../../img/corner-blue.svg) center no-repeat;
    background-size: 100% 27px;
    z-index: 1;
    @media #{$tablet-width} {
      height: 68px;
      background-size: 100% 68px;
    }
  }
}
