$blue: #82b4d3;
$mblue: #669fc1;
$dblue: #5497be;
$grey: #efefef;
$lightgrey: #f2f2f2;
$mgrey: #e5e5e5;
$inpgrey: #e6e6e6;

$mobile-width: "(min-width: 320px)";
$mobile-width-only: "(max-width: 767px)";
$tablet-width: "(min-width: 768px)";
$desktop-width: "(min-width: 1200px)";