.intro {
  @include corner-blue;
  position: relative;
  
}

.intro__wrapper {
  @include container-fluid;
  padding: 40px 32px;
  padding-bottom: 28px;
  text-align: center;
}

.intro__text {
  padding-top: 15px;
  font-size: 14px;
}

@media #{$tablet-width} {

  .intro::after {
    display: none;
  }

  .intro__wrapper {
    padding-top: 50px;
    padding-bottom: 35px;
  }

  .intro__title {
    display: block;
    font-size: 22px;
  }

}